@import url("https://fonts.cdnfonts.com/css/samsung-sharp-sans-regular");
*,
*::before,
*::after{
    box-sizing:border-box
}

*{
    margin:0;
    padding:0;
    font-family: "Samsung Sharp Sans Regular", sans-serif;
    inline-height: 1.5;
}
body{
    background-color: black;
}

.card_container{
perspective: 1000px;
width:350px;
height: 250px;
margin:100px auto;
}

.card{
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.card_container:hover .card{
    transform: rotateY(180deg);
}
.frontcard,
.backcard{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgb(0,0,0,0.2);   
}
.frontcard{
    background-color:aliceblue;
padding: 20px;

}
.frontcard img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;

}
.backcard {
    position: relative;
    padding: 2px;
    border-radius: 15px;
    background: transparent;
    transform: rotateY(180deg);
}

.backcard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    padding: 0;
    z-index: 0;
    background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 300% 300%;
    animation: flow-border 4s linear infinite;
}

.backcard-content {
    position: relative;
    z-index: 1;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 16px 20px 12px 20px;
    height: 100%;
    overflow-y: auto;
    text-align: left;
   
}
.name{
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}
.description{
    font-size: 12px;
    color: #d8cccc;
    margin-bottom: 10px;
}
.title{
    font-size: 25px ;
    font-weight: 600;
}
strong{
    color: #6effec;
    text-transformation: capitalize;

}
.btn{
    padding: 6px 12px;
    border: 1px solid #6effec;
    background-color: #00ffff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}
.btn:hover{
    background-color: #3b469a;
    color: white;
    border-color: #43a047;
}

@keyframes flow-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}